workflows/wf2.json
[{"updatedAt":"2026-04-23T08:43:51.871Z","createdAt":"2026-04-22T01:18:58.114Z","id":"SdW3hhoLhOXFfoQQ","name":"AI Reel Generator, 02 Render + Deliver","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const ALLOWED_USERS = ['6272541552'];\nconst items = $input.all();\nconst cb = items[0].json.callback_query;\nif (!cb) throw new Error('No callback_query in update');\n\nconst fromId = String(cb.from?.id || '');\nif (!ALLOWED_USERS.includes(fromId)) {\n  throw new Error(`Unauthorized user ${fromId}`);\n}\n\nconst data = cb.data || '';\nconst parts = data.split(':');\nif (parts.length < 3) throw new Error(`Malformed callback_data: ${data}`);\nconst [action, jobId, candidateIdxStr] = parts;\nconst candidateIndex = parseInt(candidateIdxStr, 10);\n\nconst chatId = cb.message?.chat?.id;\nconst messageId = cb.message?.message_id;\nconst callbackQueryId = cb.id;\n\nreturn [{\n  json: {\n    job_id: jobId,\n    action,\n    candidate_index: candidateIndex,\n    chat_id: chatId,\n    message_id: messageId,\n    callback_query_id: callbackQueryId,\n    from_id: fromId,\n    ts: new Date().toISOString()\n  }\n}];"},"id":"parse-callback","name":"Parse Callback + Authorize","type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,400],"notesInFlow":true,"notes":"3. Understand which candidate the user approved.\n\nParses the callback_data string 'approve:<job_id>:<index>' into\nits three parts. Also re-checks the user allowlist, even if\nsomeone got hold of our button payload, the user id has to\nmatch."},{"parameters":{"resource":"callback","queryId":"={{ $json.callback_query_id }}","additionalFields":{"text":"Processing..."}},"id":"ack-click","name":"Acknowledge Click","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-608,400],"notesInFlow":true,"webhookId":"e547af9f-0792-4a72-b25e-2585d3838d3e","credentials":{"telegramApi":{"id":"ihE8kLHbSM2bjgkF","name":"Telegram Bot (Reel Generator)"}},"continueOnFail":true,"onError":"continueRegularOutput","notes":"4. Tell Telegram 'we got the tap' immediately.\n\nTelegram UI shows a spinner on the tapped button until we\ncall answerCallbackQuery. So we send that FIRST, before any\nslow work.\n\ncontinueOnFail is on, if the callback id is stale (user\ntapped > 30s after cards arrived), Telegram returns 400. We\nignore and keep going, so the reel still renders."},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c1","leftValue":"={{ $('Parse Callback + Authorize').first().json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"approved-if","name":"Approved?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-384,400],"notesInFlow":true,"notes":"5. Did the user approve or reject?\n\nSimple if-check on the parsed action. Approve path continues\nto the render pipeline. Reject path sends a short 'got it, no\nreel' message and stops."},{"parameters":{"jsCode":"const cb = $('Parse Callback + Authorize').first().json;\nconst TG_SEND = 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage';\nasync function tgSend(text) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: TG_SEND, json: true,\n      body: { chat_id: cb.chat_id, text, parse_mode: 'Markdown' },\n      timeout: 8000,\n    });\n  } catch (_) { /* ignore */ }\n}\n\nconst item = $input.first();\n// Missing job file path: readWriteFile returned an empty item (alwaysOutputData\n// kept the node flowing). This happens when the candidate cards are older\n// than the last /clear, or older than 24h, or have been cancelled+pruned.\nif (!item || !item.binary || !item.binary.data) {\n  await tgSend(\n    'I couldn\\'t find job `' + cb.job_id + '` on disk. ' +\n    'This usually means the candidate cards were cleared (via /clear) or ' +\n    'have expired.\\n\\nSend `/reel <topic>` to generate fresh cards.'\n  );\n  return [];\n}\n\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'data');\nlet job;\ntry { job = JSON.parse(buf.toString('utf8')); }\ncatch (e) { throw new Error('Job file for ' + cb.job_id + ' is not valid JSON: ' + e.message); }\n\nif (job.status === 'cancelled') {\n  await tgSend(\n    'Job `' + cb.job_id + '` was cancelled via /cancel. No reel will be rendered.\\n' +\n    'Start fresh with /reel <topic>.'\n  );\n  return [];\n}\n\nconst candidate = (job.candidates || []).find(c => c.index === cb.candidate_index);\nif (!candidate) {\n  throw new Error('Candidate index ' + cb.candidate_index + ' not found for job ' + cb.job_id + '. Available: ' + (job.candidates || []).map(c => c.index).join(','));\n}\n\nconst compositeId = cb.job_id + '_' + candidate.label;\nreturn [{\n  json: {\n    base_job_id: cb.job_id,\n    job_id: compositeId,\n    candidate_index: cb.candidate_index,\n    candidate_label: candidate.label,\n    chat_id: cb.chat_id,\n    callback_query_id: cb.callback_query_id,\n    source: candidate.source,\n    title: candidate.title,\n    link: candidate.link,\n    content_json: candidate.content_json\n  }\n}];"},"id":"load-job","name":"Load Stored Job","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,304],"notesInFlow":true,"notes":"7. Pick the approved candidate out of the 3.\n\nParses the job JSON. If job.status == 'cancelled' (because\nuser ran /cancel), sends a polite refusal DM and stops, no\nwasted ElevenLabs or Remotion bill.\n\nOtherwise, pulls out just the approved candidate's scene plan\nand passes it forward with chat_id + job_id for later nodes\nto reference."},{"parameters":{"chatId":"={{ $('Parse Callback + Authorize').first().json.chat_id }}","text":"Rejected. No reel rendered.","additionalFields":{}},"id":"notify-rejected","name":"Notify Rejected","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-160,496],"notesInFlow":true,"webhookId":"feb8b6d9-8ffb-49b4-a9fd-0d48499ed1b2","credentials":{"telegramApi":{"id":"ihE8kLHbSM2bjgkF","name":"Telegram Bot (Reel Generator)"}},"notes":"Cleanup path when the user rejects a card.\n\nSends a one-line 'rejected, no reel' reply. Not an error ,\nrejection is a valid outcome."},{"parameters":{"fileSelector":"=/project/jobs/{{ $('Parse Callback + Authorize').first().json.job_id }}.json","options":{"dataPropertyName":"data"}},"id":"read-job-file","name":"Read Job File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-160,304],"notesInFlow":true,"alwaysOutputData":true,"notes":"6. Load the 3 candidates we saved in WF1.\n\nReads /project/jobs/<jobId>.json from the shared folder and\nreturns the content as binary data for the next node to parse."},{"parameters":{"inputSource":"passthrough"},"id":"sub-workflow-trigger","name":"Sub-Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1280,304],"notesInFlow":true,"notes":"Production entry point. WF1 calls this via Execute Workflow when a Telegram Approve/Reject callback arrives. Telegram only allows one webhook per bot, so WF1 owns the webhook and routes callbacks here via Call WF2 (Render)."},{"parameters":{"jsCode":"// Ensure input has callback_query at top level so Parse Callback + Authorize works unchanged.\nreturn $input.all().map(item => {\n  const j = item.json || {};\n  if (j.callback_query) return { json: j };\n  // If caller passed the callback_query directly, wrap it\n  if (j.id && j.from && j.data !== undefined) return { json: { callback_query: j } };\n  return { json: j };\n});"},"id":"normalize-callback-payload","name":"Normalize Callback Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1056,304],"notesInFlow":true,"notes":"2. Pass the callback data through unchanged.\n\nA safety wrapper. If WF1 wraps the callback_query inside another\nobject, this node unwraps it so downstream nodes always see\nthe same shape."},{"parameters":{"jsCode":"const stored = $('Load Stored Job').first().json;\nconst cj = stored.content_json || {};\nconst beats = cj.beats || [];\nif (beats.length === 0) throw new Error('Job has no beats to narrate');\nconst script = beats.map(b => String(b.text || '').trim()).filter(Boolean).join(' ');\nconst voice_id = 'nPczCjzI2devNBz1zQrb';\nreturn [{\n  json: {\n    job_id: stored.job_id,\n    chat_id: stored.chat_id,\n    title: stored.title,\n    source: stored.source,\n    link: stored.link,\n    content_json: cj,\n    tts_script: script,\n    tts_char_count: script.length,\n    voice_id,\n  }\n}];"},"id":"build-tts-text","name":"Build TTS Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[736,400],"notesInFlow":true,"notes":"8. Glue the beats into one narration script.\n\nEach beat has its own text. ElevenLabs needs ONE string to\nsynthesize. This joins them with spaces, ElevenLabs handles\nnatural pauses on punctuation.\nAlso attaches the Nikunj voice id so the TTS step knows whose\nvoice clone to use."},{"parameters":{"method":"POST","url":"http://host.docker.internal:5555/narration","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  job_id: $('Load Stored Job').first().json.job_id,\n  text: $json.tts_script,\n  voice_id: $json.voice_id\n}) }}","options":{"timeout":120000}},"id":"bridge-narration","name":"Bridge: Narration","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,400],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"notesInFlow":true,"notes":"9. Turn text into speech + get per-word timings.\n\nHTTP call to the render-bridge on the host at port 5555, which\ncalls ElevenLabs' /v1/text-to-speech/.../with-timestamps endpoint.\nBridge writes /project/public/narration-<jobId>.mp3 to disk AND\nreturns every word's start/end time in the audio.\nWe use the render-bridge for this (not n8n directly) because\nwe want the audio file on the SAME filesystem where Remotion\nwill render from."},{"parameters":{"method":"POST","url":"http://host.docker.internal:5555/captions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  job_id: $('Load Stored Job').first().json.job_id,\n  word_timings: $json.word_timings,\n  beats: $('Load Stored Job').first().json.content_json.beats,\n  pad_sec: 0.3\n}) }}","options":{"timeout":30000}},"id":"bridge-captions","name":"Bridge: Captions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,400],"notesInFlow":true,"notes":"10. Line up words with beats.\n\nSends the word timings + beat list to the bridge's /captions\nendpoint. The bridge walks through the word stream, matching\neach beat's first word to figure out exactly when each beat\nstarts and ends in the audio. Writes\n/project/public/captions-<jobId>.json for Remotion to read.","retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"jsCode":"const job = $('Load Stored Job').first().json;\nconst base = job.content_json || {};\nconst narrationResp = $('Bridge: Narration').first().json;\nconst captionsResp = $('Bridge: Captions').first().json;\nconst wordTimings = Array.isArray(narrationResp.word_timings) ? narrationResp.word_timings : [];\nconst beatWindows = Array.isArray(captionsResp.beats) ? captionsResp.beats : [];\nconst beatWindowById = {};\nfor (const bw of beatWindows) beatWindowById[bw.id] = bw;\n\n\n// -------- Fallback scene rotation (variety fix 2026-04-23) --------\n// When shape-rescue fires or BrollClip has no image, don't always fall back\n// to VersionReveal. Pick an unused scene from a safe pool so duplicates never\n// happen silently.\nconst FALLBACK_POOL = ['BadgeOverlay', 'QuoteCallout', 'StatBlock', 'CommandPills', 'IconGrid', 'DoubleStatHero'];\n\nfunction pickUnusedFallback(usedSceneSet) {\n  for (const s of FALLBACK_POOL) {\n    if (!usedSceneSet.has(s)) return s;\n  }\n  // Everything in the pool already used, last resort.\n  return 'BadgeOverlay';\n}\n\nfunction defaultPropsFor(scene, beat, brandCtx, accentFallback) {\n  const brand = brandCtx;\n  const accent = accentFallback || 'cyan';\n  const title = (beat && beat.text) || '';\n  const intent = (beat && beat.intent) || '';\n  const headline = title.slice(0, 70) || intent.replace(/_/g, ' ') || 'HIGHLIGHT';\n  const subhead = title.slice(0, 60);\n  switch (scene) {\n    case 'BadgeOverlay':\n      return { brand, accent, headline, subhead: subhead || intent, badge: { text: 'NEW', accent } };\n    case 'QuoteCallout':\n      return { brand, accent, quote: title.slice(0, 120) || headline, attribution: (brandCtx || 'The Team').toString().toUpperCase() };\n    case 'StatBlock':\n      return { brand, accent, headline: intent.replace(/_/g, ' ') || 'THE NUMBERS', stats: [ { label: 'BEATS', value: '8' }, { label: 'SCENE', value: 'ROTATED' } ] };\n    case 'CommandPills':\n      return { brand, accent, headline: headline || 'KEY MOVES', pills: [ { text: 'STEP 1', accent }, { text: 'STEP 2', accent }, { text: 'STEP 3', accent } ] };\n    case 'IconGrid':\n      return { brand, accent, headline: headline || 'ECOSYSTEM', items: ['OpenAI','Anthropic','Google','Meta','xAI','Mistral'] };\n    case 'DoubleStatHero':\n      return { brand, accent, headline: headline, leftStat: { label: 'ONE', value: '1' }, rightStat: { label: 'TWO', value: '2' }, separator: '+' };\n    default:\n      return { brand, accent, headline, subhead };\n  }\n}\n\n// -------- Sanitize props so Remotion's Zod schema accepts them --------\nconst PALETTE = ['coral','cyan','red','green','yellow','orange','purple','pink','blue','white','muted'];\nconst PALETTE_HEX = {\n  coral: [0xef,0x44,0x44], cyan: [0x22,0xd3,0xee], red: [0xef,0x44,0x44],\n  green: [0x10,0xa3,0x7f], yellow: [0xfa,0xcc,0x15], orange: [0xf9,0x73,0x16],\n  purple: [0xa8,0x55,0xf7], pink: [0xec,0x48,0x99], blue: [0x3b,0x82,0xf6],\n  white: [0xff,0xff,0xff], muted: [0x64,0x74,0x8b],\n};\nfunction hexToRgb(h) {\n  const s = String(h || '').replace('#','').trim();\n  if (s.length === 3) return [parseInt(s[0]+s[0],16), parseInt(s[1]+s[1],16), parseInt(s[2]+s[2],16)];\n  if (s.length === 6) return [parseInt(s.slice(0,2),16), parseInt(s.slice(2,4),16), parseInt(s.slice(4,6),16)];\n  return null;\n}\nfunction nearestPalette(hex) {\n  const rgb = hexToRgb(hex); if (!rgb) return null;\n  let best = 'cyan', bestD = Infinity;\n  for (const name of PALETTE) {\n    const p = PALETTE_HEX[name];\n    const d = (rgb[0]-p[0])**2 + (rgb[1]-p[1])**2 + (rgb[2]-p[2])**2;\n    if (d < bestD) { bestD = d; best = name; }\n  }\n  return best;\n}\nfunction coerceAccent(a, fallback) {\n  if (!a) return fallback;\n  const s = String(a).toLowerCase();\n  if (PALETTE.includes(s)) return s;\n  if (s.startsWith('#') || /^[0-9a-f]{6}$/i.test(s)) return nearestPalette(s) || fallback;\n  return fallback;\n}\n\nconst BRAND_ACCENT = {\n  anthropic: 'coral', openai: 'cyan', gemini: 'cyan', google: 'blue',\n  meta: 'blue', xai: 'white', deepseek: 'purple', mistral: 'orange',\n  huggingface: 'yellow', github: 'white', generic: 'cyan',\n};\nconst defaultAccent = BRAND_ACCENT[base.brand] || 'cyan';\n\nconst SCENE_DEFAULT_SFX = {\n  VersionReveal: ['whoosh_long'], MockTweetCard: ['slide_in'],\n  CommandPills: ['ui_chime'], BadgeOverlay: ['badge_ping'],\n  MockTerminal: ['mech_click'], MockEditor: ['ui_tick'],\n  SkillLabel: ['ui_chime'], SkillDone: ['success_ding'],\n  ComparisonCards: ['badge_ping'], BrowserReveal: ['click_soft'],\n  CounterPain: ['whoosh_long'], ProgressBars: ['progress_complete'],\n  SeverityCards: ['badge_ping'], CTAOutro: ['success_fanfare'],\n  BrollClip: ['whoosh_long'], BigStatStack: ['badge_ping'],\n  HeroQuestion: ['ui_chime'], TimelineConnector: ['slide_in'],\n  SplitFactCard: ['slide_in'], UrlRevealCard: ['ui_blip'],\n  TabSelectorPillars: ['slide_in'], TestimonialCards: ['slide_in'],\n  CommunityQuoteGrid: ['slide_in'],\n};\n\nconst VALID_SFX = new Set([\n  'cold_open_stinger','slidein_badge','mech_click_1','mech_click_2','mech_click',\n  'typewriter','soft_tap','click_hard','click_soft','tick','ui_tick','blip','ui_blip',\n  'beep','pop','ding','chime','ui_chime','badge_ping','whoosh_short','whoosh_long',\n  'swoosh_up','swoosh_down','slide_in','slide_out','card_flip','zoom_in',\n  'success_ding','success_fanfare','error_buzz','error_static','fail_thud','alert',\n  'confirm_accept','reject_deny','lock','unlock','notification',\n  'counter_tick','countdown_beep','progress_complete','compile_done',\n]);\n\n// --- Scene shape guard -------------------------------------------------\n// Claude occasionally mis-writes complex nested scene props (e.g.\n// ComparisonCards.left as a string instead of an object). Rather than\n// crash Remotion, we either coerce or swap the beat to VersionReveal.\nfunction rescueBeatShape(beat, beatAccent) {\n  const scene = beat.scene;\n  const p = { ...(beat.props || {}) };\n\n  function toColumn(raw, accentFallback) {\n    // Valid shape: { title, price?, features: string[], accent? }\n    if (raw && typeof raw === 'object' && Array.isArray(raw.features)) {\n      return {\n        title: String(raw.title || 'Option').slice(0, 40),\n        price: raw.price ? String(raw.price).slice(0, 20) : undefined,\n        features: raw.features.slice(0, 6).map(f => String(f).slice(0, 50)),\n        accent: coerceAccent(raw.accent, accentFallback),\n      };\n    }\n    // Got a string, split on commas / plus-signs to fabricate feature bullets.\n    if (typeof raw === 'string' && raw.trim()) {\n      const items = raw\n        .split(/\\s*(?:,|\\+|, | - |;)\\s*/)\n        .map(s => s.trim())\n        .filter(Boolean)\n        .slice(0, 5);\n      return {\n        title: items[0] ? items[0].slice(0, 30) : 'Option',\n        features: items.length > 1 ? items.slice(1) : [raw.slice(0, 60)],\n        accent: accentFallback,\n      };\n    }\n    return null;\n  }\n\n  switch (scene) {\n    case 'ComparisonCards': {\n      const c = p.comparison || {};\n      const left = toColumn(c.left, beatAccent);\n      const right = toColumn(c.right, beatAccent);\n      if (!left || !right) return null;  // unrecoverable\n      const winner = c.winner === 'left' || c.winner === 'right' ? c.winner : undefined;\n      p.comparison = { left, right, winner, winnerLabel: c.winnerLabel ? String(c.winnerLabel).slice(0, 30) : undefined };\n      return p;\n    }\n    case 'CommandPills':\n      if (!Array.isArray(p.pills) || p.pills.length === 0) return null;\n      p.pills = p.pills.slice(0, 5).map(pill => (\n        typeof pill === 'string' ? { text: pill.slice(0, 30), accent: beatAccent } : pill\n      ));\n      return p;\n    case 'ProgressBars':\n      if (!Array.isArray(p.bars) || p.bars.length === 0) return null;\n      p.bars = p.bars.slice(0, 6).map(b => ({\n        label: String(b.label || 'Metric').slice(0, 30),\n        accent: coerceAccent(b.accent, beatAccent),\n        targetPct: typeof b.targetPct === 'number' ? Math.max(0, Math.min(100, b.targetPct)) : 80,\n      }));\n      return p;\n    case 'MockTerminal':\n      if (!Array.isArray(p.logLines) || p.logLines.length === 0) return null;\n      p.logLines = p.logLines.slice(0, 8).map(l => ({\n        role: String(l.role || 'info').slice(0, 12),\n        text: String(l.text || '').slice(0, 80),\n      }));\n      return p;\n    case 'MockEditor':\n      if (!Array.isArray(p.lines) || p.lines.length === 0) return null;\n      p.lines = p.lines.slice(0, 10).map(l => ({\n        text: String(l.text || '').slice(0, 80),\n        color: ['key','value','string','muted','accent','number'].includes(l.color) ? l.color : 'value',\n        check: Boolean(l.check),\n      }));\n      return p;\n    case 'SeverityCards':\n      if (!Array.isArray(p.cards) || p.cards.length === 0) return null;\n      p.cards = p.cards.slice(0, 6).map(c => ({\n        severity: ['HIGH','MED','LOW'].includes(String(c.severity).toUpperCase()) ? String(c.severity).toUpperCase() : 'MED',\n        confidence: typeof c.confidence === 'number' ? c.confidence : 80,\n        title: String(c.title || 'Risk').slice(0, 40),\n        path: String(c.path || ',').slice(0, 40),\n      }));\n      return p;\n    case 'BigStatStack':\n      if (!Array.isArray(p.stats)) {\n        // Build from headline if missing.\n        if (p.headline || p.subhead) {\n          p.stats = [{ label: String(p.headline || 'Stat').slice(0, 20), value: String(p.subhead || '').slice(0, 20) }];\n        } else return null;\n      }\n      p.stats = p.stats.slice(0, 4).map(s => ({\n        label: String(s.label || 'Metric').slice(0, 20),\n        value: String(s.value || '').slice(0, 20),\n      }));\n      return p;\n    case 'TimelineConnector':\n      if (!Array.isArray(p.events) || p.events.length === 0) return null;\n      p.events = p.events.slice(0, 6).map(e => ({\n        label: String(e.label || 'Event').slice(0, 30),\n        date: String(e.date || '').slice(0, 16),\n      }));\n      return p;\n    case 'TestimonialCards':\n      if (!Array.isArray(p.testimonials) || p.testimonials.length === 0) return null;\n      p.testimonials = p.testimonials.slice(0, 4).map(t => ({\n        quote: String(t.quote || '').slice(0, 140),\n        attribution: String(t.attribution || 'User').slice(0, 40),\n      }));\n      return p;\n    case 'CommunityQuoteGrid':\n      if (!Array.isArray(p.quotes) || p.quotes.length === 0) return null;\n      p.quotes = p.quotes.slice(0, 8).map(q => ({\n        text: String(q.text || q.quote || '').slice(0, 80),\n        attribution: String(q.attribution || '').slice(0, 30),\n      }));\n      return p;\n    case 'TabSelectorPillars':\n      if (!Array.isArray(p.tabs) || p.tabs.length === 0) return null;\n      p.tabs = p.tabs.slice(0, 4).map(t => ({\n        label: String(t.label || 'Tab').slice(0, 20),\n        items: Array.isArray(t.items) ? t.items.slice(0, 6).map(x => String(x).slice(0, 60)) : [],\n      }));\n      return p;\n    case 'CounterPain':\n      if (!p.counter || typeof p.counter !== 'object') return null;\n      p.counter = {\n        label: String(p.counter.label || 'Count').slice(0, 30),\n        from: typeof p.counter.from === 'number' ? p.counter.from : 0,\n        to: typeof p.counter.to === 'number' ? p.counter.to : 100,\n        durationSec: typeof p.counter.durationSec === 'number' ? p.counter.durationSec : 3,\n      };\n      return p;\n    case 'QuoteCallout':\n      if (!p.quote || typeof p.quote !== 'string' || p.quote.length < 3) return null;\n      p.quote = p.quote.slice(0, 180);\n      if (p.attribution) p.attribution = String(p.attribution).slice(0, 60);\n      if (p.kicker) p.kicker = String(p.kicker).slice(0, 40);\n      return p;\n    case 'StatBlock':\n      if (!Array.isArray(p.stats) || p.stats.length === 0) return null;\n      p.stats = p.stats.slice(0, 4).map(s => ({\n        label: String(s.label || 'Metric').slice(0, 24),\n        value: String(s.value || '').slice(0, 16),\n      }));\n      return p;\n    case 'MapMoment':\n      // headline required; pins/stat optional.\n      if (!p.headline && !p.stat) return null;\n      if (Array.isArray(p.pins)) p.pins = p.pins.slice(0, 8).map(s => String(s).slice(0, 20));\n      if (p.stat) p.stat = String(p.stat).slice(0, 20);\n      return p;\n    case 'PricingReveal':\n      if (!p.price) return null;\n      p.price = String(p.price).slice(0, 20);\n      p.unit = String(p.unit || '/mo').slice(0, 16);\n      if (p.tier) p.tier = String(p.tier).slice(0, 14);\n      if (Array.isArray(p.features)) p.features = p.features.slice(0, 6).map(f => String(f).slice(0, 50));\n      else p.features = [];\n      return p;\n    case 'VsTimeline':\n      if (!Array.isArray(p.markers) || p.markers.length < 2) return null;\n      p.markers = p.markers.slice(0, 5).map(m => ({\n        label: String(m.label || 'Event').slice(0, 24),\n        date: String(m.date || '').slice(0, 10),\n        highlight: Boolean(m.highlight),\n      }));\n      return p;\n    case 'IconGrid':\n      if (!Array.isArray(p.items) || p.items.length < 3) return null;\n      p.items = p.items.slice(0, 8).map(s => String(s).slice(0, 20));\n      return p;\n    case 'DoubleStatHero':\n      if (!p.leftStat || !p.rightStat) return null;\n      p.leftStat = {\n        label: String(p.leftStat.label || 'Metric').slice(0, 24),\n        value: String(p.leftStat.value || '').slice(0, 12),\n      };\n      p.rightStat = {\n        label: String(p.rightStat.label || 'Metric').slice(0, 24),\n        value: String(p.rightStat.value || '').slice(0, 12),\n      };\n      if (p.separator) p.separator = String(p.separator).slice(0, 4);\n      return p;\n    case 'CodeInline':\n      // Accept code as string or array; normalize to array.\n      if (!p.code) return null;\n      const codeArr = Array.isArray(p.code) ? p.code : [p.code];\n      p.code = codeArr.slice(0, 4).map(l => String(l).slice(0, 80));\n      if (p.code.length === 0) return null;\n      if (p.caption) p.caption = String(p.caption).slice(0, 120);\n      if (p.language) p.language = String(p.language).slice(0, 10);\n      return p;\n    case 'HeroQuestion':\n      if (!p.headline || typeof p.headline !== 'string' || p.headline.length < 5) return null;\n      p.headline = p.headline.slice(0, 140);\n      return p;\n    default:\n      return p;  // scenes without complex shape; pass through\n  }\n}\n\nfunction sanitizeProps(scene, p) {\n  const out = { ...(p || {}) };\n  out.brand = out.brand || base.brand || 'generic';\n  out.accent = coerceAccent(out.accent, defaultAccent);\n  if (out.accent2) out.accent2 = coerceAccent(out.accent2, undefined);\n  if (Array.isArray(out.pills)) {\n    out.pills = out.pills.map(pill => ({ ...pill, accent: coerceAccent(pill.accent, defaultAccent) }));\n  }\n  if (Array.isArray(out.bars)) {\n    out.bars = out.bars.map(b => ({ ...b, accent: coerceAccent(b.accent, defaultAccent) }));\n  }\n  if (out.badge) out.badge = { ...out.badge, accent: coerceAccent(out.badge.accent, defaultAccent) };\n  if (Array.isArray(out.cards)) {\n    out.cards = out.cards.map(c => {\n      const sev = String(c.severity || 'MED').toUpperCase();\n      return { ...c, severity: ['HIGH','MED','LOW'].includes(sev) ? sev : 'MED' };\n    });\n  }\n  if (scene === 'CTAOutro') out.outroStyle = 'follow';\n  return out;\n}\n\nfunction sanitizeSfxHints(scene, hints) {\n  const seen = new Set();\n  const kept = [];\n  for (const h of (hints || [])) {\n    if (typeof h !== 'string') continue;\n    if (!VALID_SFX.has(h)) continue;\n    if (seen.has(h)) continue;\n    seen.add(h);\n    kept.push(h);\n  }\n  if (kept.length === 0) {\n    const def = SCENE_DEFAULT_SFX[scene] || [];\n    def.forEach(h => { if (!seen.has(h)) { kept.push(h); seen.add(h); } });\n  }\n  return kept.slice(0, 2);\n}\n\n// -------- Pill / item highlight timing computation --------\nconst FILLER = new Set(['the','a','an','of','for','and','or','to','in','on','with','by','is','are','be','its','that','this','these','those','use','uses','using']);\nfunction tokenize(s) {\n  return String(s || '').toLowerCase().replace(/[^a-z0-9\\s]+/g, ' ').split(/\\s+/).filter(t => t.length >= 2 && !FILLER.has(t));\n}\nfunction normalizeWord(s) {\n  return String(s || '').toLowerCase().replace(/[^a-z0-9]+/g, '');\n}\nfunction findPhraseInWords(words, phraseTokens) {\n  if (phraseTokens.length === 0) return null;\n  const first = phraseTokens[0];\n  for (let i = 0; i < words.length; i++) {\n    if (normalizeWord(words[i].text) === first) {\n      const window = words.slice(i, i + phraseTokens.length + 3);\n      const windowNormalized = window.map(w => normalizeWord(w.text));\n      let pos = 0;\n      let lastIdx = 0;\n      for (let t = 0; t < phraseTokens.length; t++) {\n        const tok = phraseTokens[t];\n        while (pos < windowNormalized.length && windowNormalized[pos] !== tok) pos++;\n        if (pos >= windowNormalized.length) break;\n        lastIdx = pos;\n        pos += 1;\n      }\n      if (pos <= windowNormalized.length) {\n        const s = window[0].start;\n        const e = window[Math.min(lastIdx, window.length - 1)].end;\n        return { startSec: s, endSec: e };\n      }\n    }\n  }\n  return null;\n}\nfunction computePillHighlights(pills, beatWindow) {\n  if (!pills || pills.length === 0 || !beatWindow) return pills;\n  const { startSec, endSec } = beatWindow;\n  const beatWords = wordTimings.filter(w => w.start >= startSec && w.end <= endSec + 0.1);\n  const beatDur = Math.max(0.1, endSec - startSec);\n  const slotDur = beatDur / pills.length;\n  return pills.map((pill, idx) => {\n    const tokens = tokenize(pill.text);\n    let hit = findPhraseInWords(beatWords, tokens);\n    if (!hit) {\n      const fallbackStart = startSec + idx * slotDur;\n      hit = { startSec: fallbackStart, endSec: fallbackStart + Math.min(slotDur, 2.0) };\n    }\n    const rawDur = hit.endSec - hit.startSec;\n    const durSec = Math.max(0.8, Math.min(rawDur + 0.6, 2.2));\n    return {\n      ...pill,\n      highlightAtSec: Math.max(0, hit.startSec - startSec),\n      highlightDurSec: durSec,\n    };\n  });\n}\n\n// Collect already-used scene types so fallbacks can pick unused ones.\nconst usedScenes = new Set((base.beats || []).map(b => b.scene).filter(Boolean));\n\nlet sanitizedBeats = (base.beats || []).map(b => {\n  let cleanedProps = sanitizeProps(b.scene, b.props);\n  // Run shape rescue; if the scene is unrecoverable, swap to VersionReveal.\n  const rescued = rescueBeatShape({ scene: b.scene, props: cleanedProps }, cleanedProps.accent);\n  let scene = b.scene;\n  if (rescued === null) {\n    // Shape unrescuable. Swap to an unused fallback scene (not always VersionReveal).\n    scene = pickUnusedFallback(usedScenes);\n    cleanedProps = defaultPropsFor(scene, b, cleanedProps.brand, cleanedProps.accent);\n    usedScenes.add(scene);\n  } else {\n    cleanedProps = rescued;\n  }\n  if (scene === 'CommandPills' && Array.isArray(cleanedProps.pills)) {\n    const bw = beatWindowById[b.id];\n    cleanedProps.pills = computePillHighlights(cleanedProps.pills, bw);\n  }\n  return {\n    ...b,\n    scene,\n    props: cleanedProps,\n    sfxHints: sanitizeSfxHints(scene, b.sfxHints),\n  };\n});\n\n// -------- Fetch og:image (best-effort) --------\nlet brollSrc = null;\ntry {\n  const brollResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://host.docker.internal:5555/broll',\n    json: true,\n    body: { job_id: job.job_id, url: job.link },\n    timeout: 20000,\n  });\n  if (brollResp && brollResp.ok) brollSrc = brollResp.broll_src;\n} catch (e) { /* continue without broll */ }\n\n// First, find any BrollClip beats Claude picked. Enforce max 1.\nconst brollIndices = sanitizedBeats\n  .map((b, i) => (b.scene === 'BrollClip' ? i : -1))\n  .filter(i => i >= 0);\n\nif (brollIndices.length > 0) {\n  // Keep the first BrollClip; inject broll_src if we have it; swap the rest to VersionReveal.\n  const keepIdx = brollIndices[0];\n  if (brollSrc) {\n    const beat = sanitizedBeats[keepIdx];\n    sanitizedBeats[keepIdx] = {\n      ...beat,\n      props: {\n        brand: beat.props.brand,\n        accent: beat.props.accent,\n        brollSrc,\n        title: beat.props.title || job.title,\n        sourceBadge: beat.props.sourceBadge || (job.source || 'AI NEWS').toUpperCase().replace('-', ' '),\n      },\n    };\n  } else {\n    // No image fetched; rotate to an unused fallback instead of forcing VersionReveal.\n    const beat = sanitizedBeats[keepIdx];\n    const usedNow = new Set(sanitizedBeats.map(x => x.scene).filter(Boolean));\n    usedNow.delete('BrollClip'); // we're replacing this slot\n    const newScene = pickUnusedFallback(usedNow);\n    sanitizedBeats[keepIdx] = {\n      ...beat,\n      scene: newScene,\n      props: defaultPropsFor(newScene, beat, beat.props.brand, beat.props.accent),\n    };\n  }\n  // Rotate every extra BrollClip to an unused fallback scene.\n  for (const i of brollIndices.slice(1)) {\n    const beat = sanitizedBeats[i];\n    const usedNow = new Set(sanitizedBeats.map((x, j) => j === i ? null : x.scene).filter(Boolean));\n    const newScene = pickUnusedFallback(usedNow);\n    sanitizedBeats[i] = {\n      ...beat,\n      scene: newScene,\n      props: defaultPropsFor(newScene, beat, beat.props.brand, beat.props.accent),\n    };\n  }\n} else if (brollSrc && sanitizedBeats.length >= 4) {\n  // No BrollClip from Claude, but we have an image, inject one at the middle.\n  const HEAVY_UI = new Set(['MockTerminal','MockEditor','ComparisonCards','CTAOutro','VersionReveal']);\n  const eligible = sanitizedBeats\n    .map((b, i) => ({ b, i }))\n    .filter(({ b, i }) => i > 0 && i < sanitizedBeats.length - 1 && !HEAVY_UI.has(b.scene));\n  if (eligible.length > 0) {\n    const mid = Math.floor(sanitizedBeats.length / 2);\n    eligible.sort((a, z) => Math.abs(a.i - mid) - Math.abs(z.i - mid));\n    const target = eligible[0];\n    const originalBeat = sanitizedBeats[target.i];\n    sanitizedBeats[target.i] = {\n      ...originalBeat,\n      scene: 'BrollClip',\n      props: {\n        brand: originalBeat.props.brand,\n        accent: originalBeat.props.accent,\n        brollSrc,\n        title: job.title,\n        sourceBadge: (job.source || 'AI NEWS').toUpperCase().replace('-', ' '),\n      },\n    };\n  }\n}\n\nconst final_content_json = {\n  ...base,\n  id: job.job_id,\n  brand: base.brand || 'generic',\n  audioSrc: 'narration-' + job.job_id + '.mp3',\n  captionsSrc: 'captions-' + job.job_id + '.json',\n  beats: sanitizedBeats,\n  captionsMode: 'always',\n  channelLabel: 'AI Reel Generator',\n  captionWordEffect: 'magnify',\n};\n\nreturn [{\n  json: {\n    job_id: job.job_id,\n    chat_id: job.chat_id,\n    title: job.title,\n    source: job.source,\n    broll_src: brollSrc,\n    final_content_json,\n  }\n}];"},"id":"build-final-content","name":"Build Final Content","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,400],"notesInFlow":true,"notes":"11. Clean up the scene plan and add the B-roll image.\n\nThree things happen here:\n  (a) SANITIZE, Claude sometimes writes hex colors where we\n      need palette names, or invents SFX names we don't have.\n      This node normalizes everything so Remotion's schema\n      validation accepts it.\n  (b) FETCH B-ROLL, calls the bridge's /broll endpoint to\n      download the article's hero image (og:image). On failure\n      we skip; the reel still renders without imagery.\n  (c) SYNC PILLS, for CommandPills scenes, figures out when\n      each pill's text is spoken in the narration so the scene\n      can highlight pills one-by-one in sync with the voice.\nAlso forces CTAOutro style = 'follow', hides the Hindi·AI\nwatermark by setting channelLabel, and enables the per-letter\ncaption magnifier."},{"parameters":{"method":"POST","url":"http://host.docker.internal:5555/content","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  job_id: $('Load Stored Job').first().json.job_id,\n  content_json: $json.final_content_json\n}) }}","options":{"timeout":15000}},"id":"bridge-content","name":"Bridge: Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,400],"notesInFlow":true,"notes":"12. Save the final content JSON.\n\nWrites /project/content/<jobId>.json to disk. This is what\nRemotion reads as its --props argument.","retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"method":"POST","url":"http://host.docker.internal:5555/render","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  job_id: $('Load Stored Job').first().json.job_id,\n  composition_id: 'AdaptiveReelDynamic'\n}) }}","options":{"timeout":600000}},"id":"bridge-render","name":"Bridge: Remotion Render","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1856,400],"notesInFlow":true,"notes":"13. Actually render the MP4.\n\nHTTP call to the bridge's /render endpoint, which runs\n'node scripts/batch-render.mjs content/<jobId>.json' on the\nWindows host. Remotion:\n  - spins up headless Chrome\n  - composites all the React scenes frame-by-frame (30 fps)\n  - mixes in the narration + SFX\n  - encodes to MP4 via bundled ffmpeg\nTakes 45-70 seconds for a 90-second reel. We give the HTTP\ncall a 10-minute timeout to account for cold starts."},{"parameters":{"url":"=http://host.docker.internal:5555/mp4/{{ $('Load Stored Job').first().json.job_id }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"id":"bridge-mp4","name":"Bridge: Read MP4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,400],"notesInFlow":true,"notes":"14. Fetch the finished MP4 as binary.\n\nGETs the bridge's /mp4/<jobId> endpoint, which reads the file\nfrom disk and streams it back. We receive it as a binary blob\nready for Telegram's sendVideo to upload.","retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"operation":"sendVideo","chatId":"={{ $('Load Stored Job').first().json.chat_id }}","binaryData":true,"additionalFields":{"caption":"=Preview reel (adaptive pipeline, beats + captions + SFX + brand)\n\nTitle: {{ $('Load Stored Job').first().json.title }}\nSource: {{ $('Load Stored Job').first().json.source }}\nJob: {{ $('Load Stored Job').first().json.job_id }}\n\nReview and share feedback on quality, pacing, and beat accuracy.","fileName":"={{ $('Load Stored Job').first().json.job_id }}.mp4","height":1920,"width":1080}},"id":"send-video-to-telegram","name":"Send Video to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2304,400],"notesInFlow":true,"webhookId":"97830e87-c399-42e4-b3dd-fe668262ce59","credentials":{"telegramApi":{"id":"ihE8kLHbSM2bjgkF","name":"Telegram Bot (Reel Generator)"}},"notes":"15. Deliver the reel to the user's DM.\n\nTelegram sendVideo, uploads the MP4 directly. Also includes\na caption with the title, source, and job id so you know\nwhich request this came from. Telegram caps bot uploads at\n50 MB; our reels average 5-10 MB, well under."},{"parameters":{"url":"=http://host.docker.internal:5555/mp4-exists?id={{ $('Load Stored Job').first().json.job_id }}","options":{"timeout":5000}},"id":"bridge-check-cache","name":"Bridge: Check MP4 Cache","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,304],"notesInFlow":true,"notes":"Cache short-circuit: ask the render-bridge whether this exact\n(job_id + candidate_label) already has a rendered MP4 on disk.\n\nIf yes, skip every expensive step (ElevenLabs, Remotion, etc.)\nand just re-deliver the cached file via Telegram. This is what\nprevents double-tap of Approve from burning API quota twice.","retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"conditions":[{"id":"c-exists","leftValue":"={{ $json.exists }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"is-cached","name":"Is Cached?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,304],"notesInFlow":true,"notes":"Idempotency shortcut. TRUE (top) = this candidate was already rendered before -> replay the cached MP4 (~15s). FALSE (bottom) = first approval -> full narration + captions + render path (~90s). Cache key is <jobId>_<candidateLabel>."},{"parameters":{"url":"=http://host.docker.internal:5555/mp4/{{ $('Load Stored Job').first().json.job_id }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":30000}},"id":"bridge-read-cached-mp4","name":"Bridge: Read Cached MP4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[736,208],"notesInFlow":true,"notes":"Fetch the already-rendered MP4 from /project/out/<composite_id>.mp4\nas a binary blob. Cheap, no compute, just disk read + HTTP stream.","retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"operation":"sendVideo","chatId":"={{ $('Load Stored Job').first().json.chat_id }}","binaryData":true,"additionalFields":{"caption":"=Re-delivering cached reel (candidate {{ $('Load Stored Job').first().json.candidate_label }}).\n\nTitle: {{ $('Load Stored Job').first().json.title }}\nSource: {{ $('Load Stored Job').first().json.source }}\nJob: {{ $('Load Stored Job').first().json.job_id }}\n\nThis candidate was already rendered earlier, no new compute used.","fileName":"={{ $('Load Stored Job').first().json.job_id }}.mp4","height":1920,"width":1080}},"id":"send-cached-video-to-telegram","name":"Send Cached Video to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[960,208],"notesInFlow":true,"webhookId":"ee400796-dc83-443f-a864-082965c4cda6","credentials":{"telegramApi":{"id":"ihE8kLHbSM2bjgkF","name":"Telegram Bot (Reel Generator)"}},"notes":"Cache-hit delivery path. Same MP4, different caption so the user\nknows this is a replay rather than a fresh render."}],"connections":{"Parse Callback + Authorize":{"main":[[{"node":"Acknowledge Click","type":"main","index":0}]]},"Acknowledge Click":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"Read Job File","type":"main","index":0}],[{"node":"Notify Rejected","type":"main","index":0}]]},"Load Stored Job":{"main":[[{"node":"Bridge: Check MP4 Cache","type":"main","index":0}]]},"Read Job File":{"main":[[{"node":"Load Stored Job","type":"main","index":0}]]},"Sub-Workflow Trigger":{"main":[[{"node":"Normalize Callback Payload","type":"main","index":0}]]},"Normalize Callback Payload":{"main":[[{"node":"Parse Callback + Authorize","type":"main","index":0}]]},"Build TTS Text":{"main":[[{"node":"Bridge: Narration","type":"main","index":0}]]},"Bridge: Narration":{"main":[[{"node":"Bridge: Captions","type":"main","index":0}]]},"Bridge: Captions":{"main":[[{"node":"Build Final Content","type":"main","index":0}]]},"Build Final Content":{"main":[[{"node":"Bridge: Content","type":"main","index":0}]]},"Bridge: Content":{"main":[[{"node":"Bridge: Remotion Render","type":"main","index":0}]]},"Bridge: Remotion Render":{"main":[[{"node":"Bridge: Read MP4","type":"main","index":0}]]},"Bridge: Read MP4":{"main":[[{"node":"Send Video to Telegram","type":"main","index":0}]]},"Bridge: Check MP4 Cache":{"main":[[{"node":"Is Cached?","type":"main","index":0}]]},"Is Cached?":{"main":[[{"node":"Bridge: Read Cached MP4","type":"main","index":0}],[{"node":"Build TTS Text","type":"main","index":0}]]},"Bridge: Read Cached MP4":{"main":[[{"node":"Send Cached Video to Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"executionTimeout":600,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"5VGOZFBUQoW271kU"},"staticData":null,"meta":null,"pinData":{},"versionId":"58d19ee2-f476-4eab-a1d5-efe45d2ba69b","activeVersionId":"58d19ee2-f476-4eab-a1d5-efe45d2ba69b","versionCounter":130,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-22T01:18:58.116Z","createdAt":"2026-04-22T01:18:58.116Z","role":"workflow:owner","workflowId":"SdW3hhoLhOXFfoQQ","projectId":"cBYR1c0XjztNrrGU","project":{"updatedAt":"2026-02-16T09:01:02.007Z","createdAt":"2026-02-16T09:00:07.328Z","id":"cBYR1c0XjztNrrGU","name":"Nikunj Suryavanshi <mystik4n@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"294711fc-e4c3-4b0f-a42c-cb1d34d1e85e"}}]}]