workflows/wf3.json
[{"updatedAt":"2026-04-23T04:04:37.371Z","createdAt":"2026-04-22T03:08:14.540Z","id":"5VGOZFBUQoW271kU","name":"AI Reel Generator, Error Notifier","description":null,"active":true,"isArchived":false,"nodes":[{"id":"error-trigger","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-400,300],"parameters":{},"notes":"1. The catch-net.\n\nThis node fires whenever ANY other workflow in this project hits an\nunrecoverable error. WF1 and WF2 both declare this workflow as their\nError Workflow in Settings, so their failures funnel here.\nInput = an object with { workflow, execution, error } describing what blew up.","notesInFlow":true},{"id":"format-error","name":"Format Error Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-176,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const item = $input.first().json || {};\nconst exec = item.execution || {};\nconst wf = item.workflow || {};\nconst err = exec.error || {};\n\nconst trim = (s, n) => !s ? '' : (String(s).length > n ? String(s).slice(0, n) + '...' : String(s));\n\nconst lines = [\n  'Workflow failed',\n  '',\n  'Workflow: ' + (wf.name || wf.id || '(unknown)'),\n  'Failing node: ' + (err.node?.name || exec.lastNodeExecuted || '(unknown)'),\n  'Error: ' + trim(err.message || err.name || JSON.stringify(err), 500),\n  'Execution: ' + (exec.id || '(n/a)'),\n  'Mode: ' + (exec.mode || '(n/a)'),\n];\n\n// Local logs link, the cloudflared tunnel only routes /webhook/* so the\n// previously-used tunnel URL did not resolve. Owner reads this DM on the\n// host machine, so localhost is the right target.\nif (exec.id && wf.id) {\n  lines.push('', 'Logs: http://localhost:5678/workflow/' + wf.id + '/executions/' + exec.id);\n}\n\nreturn [{ json: { text: lines.join('\\n') } }];\n"},"notes":"2. Turn the raw error into a reviewer-readable note.\n\nTrims the stack trace, pulls the failing node name, and builds a short\nDM body. The 'Logs:' link points at localhost (owner only) because the\ncloudflared tunnel is scoped to /webhook/*, not the UI.\nIf we ever swap chat_id to a public user, strip this line.","notesInFlow":true},{"id":"send-error-telegram","name":"Send Error to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[48,300],"parameters":{"resource":"message","operation":"sendMessage","chatId":"6272541552","text":"={{ $json.text }}","additionalFields":{}},"credentials":{"telegramApi":{"id":"ihE8kLHbSM2bjgkF","name":"Telegram Bot (Reel Generator)"}},"notes":"3. Deliver to the owner.\n\nchat_id is hardcoded to 6272541552 (bot owner). Unauthorized users\nwho trip WF1/WF2's allowlist get a silent experience, only the owner\nsees 'someone tried X'. No info leak to the attacker.\nIf the bot is ever opened up, pipe chat_id from the errored execution.","notesInFlow":true}],"connections":{"Error Trigger":{"main":[[{"node":"Format Error Message","type":"main","index":0}]]},"Format Error Message":{"main":[[{"node":"Send Error to Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"556ba13b-c966-418e-9cc9-c7eaf2f7f51f","activeVersionId":"556ba13b-c966-418e-9cc9-c7eaf2f7f51f","versionCounter":18,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-22T03:08:14.542Z","createdAt":"2026-04-22T03:08:14.542Z","role":"workflow:owner","workflowId":"5VGOZFBUQoW271kU","projectId":"cBYR1c0XjztNrrGU","project":{"updatedAt":"2026-02-16T09:01:02.007Z","createdAt":"2026-02-16T09:00:07.328Z","id":"cBYR1c0XjztNrrGU","name":"Nikunj Suryavanshi <mystik4n@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"294711fc-e4c3-4b0f-a42c-cb1d34d1e85e"}}]}]